<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="append" value="false"/>
    <param name="file" value="${logging.folder}/debug.log"/>
    <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
    </layout>

</appender>